#favoritos {
    display: none;
}
.icono-seccion {
    display: block;
    margin: 0.5rem auto 0.7rem auto;
}
.titulo-seccion {

    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-bottom: 4.6rem;
}