
footer {
    padding-top: 4.7rem;
    padding-bottom: 2.3rem;
    border-bottom: 0.5rem #572EE5 solid;
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}
.redes {
    width: fit-content;
    margin: 0 auto 4.78rem auto;
}
.redes p {
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
}
.redes i {
    color: #0b45b7;
    font-size: 2rem;
}
.redes i:hover {
    color: #c049da;
  }
.redes a:nth-of-type(2) {
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}