*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}
p, h1, h2{
    text-align: center;
}
body a {
    text-decoration: none;
    text-align: center;
}
body input, body button {
    outline: none;
}