* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #FFF4FD;
    font-family: 'Chakra Petch', sans-serif;
}
button:hover,
button:active {
    border: 1px solid #110038;
}

h1 {
    font-family: 'ChakraPetch', Regular;
}
h1 {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    padding-top: 3px;
    padding-right:7px;
    padding-bottom: 4px;
    padding-left:7px;
    width: 100%;
}

.make-gifs {
    font-size: 12px;
    color: #110038; 
    text-decoration: none;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 5px;
    float: right;
}
.btn {
    font-size: 12px;
    color: #110038;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    bottom: 30px;
    right: -28px;
    padding: 5px;
    float: right;
}
.tema1 {
    padding: 5px;
    font-family: 'ChakraPetch', Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
.tema2 {
    padding: 5px;
    font-family: 'ChakraPetch', Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.drop {
   /* position: relative;
    bottom: 15px;
    right: -64px;*/
}
.drop-figure {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 8px;
}
.sub {
    border-bottom: 1px solid #110038;
}




.item {
    margin-bottom: 16px;
    width: 100%;
    max-width: 280px;
    height: 298px;
}
h2 {
    font-family: 'ChakraPetch', Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 19px;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 64px;
}
.gifDIV {
    width: 100%;
    max-width: 288px;
    height: 313px;
    margin-bottom: 15px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    justify-content: space-around;
}
p {
    font-family: 'ChakraPetch', Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 100%;
    max-width: 280px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin-bottom: 2px;
}
.close {
    position: relative;
    bottom: 0px;
    right: -157px;
}
.close2 {
    position: relative;
    bottom: 0px;
    right: -170px;
}
.close3 {
    position: relative;
    bottom: 0px;
    right: -205px;
}
.close4 {
    position: relative;
    bottom: 0px;
    right: -133px;
}

.gif {
    width: 100%;
    max-width: 280px;
    height: 280px;
}
.gif-button {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 51px;
    right: -9px;
}  
.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 15px;
    margin-left: 15px;
}
.item2 {
    margin-bottom: 16px;
    width: 100%;
    max-width: 280px;
    height: 298px;
}



@media only screen and (min-width: 1125px) {
     .box {
        display: flex;
        justify-content: space-around;
     }
     .make-gifs {
       font-size: 16px;
       letter-spacing: 0;
       text-align: center;
       line-height: 18px;
       margin-top: 44px; 
       width: 144px;
       height: 36px;
     }
     .btn {
      font-size: 16px;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px;
      margin-top: 44px;
      width: 131px;
      height: 36px;
     }
     .drop {
        float:right;
        margin-top: 44px;
    }
     .drop-figure {
      padding: 14px 15px;  
     }
     .dropdown-content {
         width: 170px;
         height: 102px;
         background: #E6E6E6;
         box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
     }
     .tema1 {
        width: 150px;
        height: 36px;
     }
     .tema2 {
        width: 150px;
        height: 36px;
     }
     .logo {
       width: 102.6px;
       height: 64px;
       margin: 35px 685.4px 16px 91px;
      }
      .search-box {
          margin-left: 100px;
          margin-right: 140px;
      }
      .input {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 15px;
        min-width: 1057px;
        height: 48px;
      }
      ::placeholder{
      padding-left: 16px;
      }
     .results {
      margin-right: 140px;
      margin-left: 140px;
     }
     .item {
        width: 280px;
        height: 298px;
      }
      h2 {
        margin-left: 100px;
        margin-right: 140px;
        margin-bottom: 19px;
      }
     .container1 {
         margin-left: 100px;
         margin-right: 140px;
     }
       
     .gif {
        width: 280px;
        height: 280px;
     }
     .trending {
        margin-right: 140px;
        margin-left: 140px;
     }
     .item2 {
      width: 280px;
      height: 298px;
     }
}

